* {
    margin: 0;
    padding: 0;
}
header {
    height: 100%;
    width: 100%;
    gap: 30px;
    background: linear-gradient(gray, white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    position: sticky;
}
button {
    background-color: transparent;
    border-color: transparent;
}
img {
    height: 50px;
    width: 50px;
}
.item {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}